modules = ["nodejs-20"]
run = "npm install && node server.js"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "node server.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
